body{
    background-color: beige;
}
div {
    width: 150px;
    height: 20vh;
    
    position: relative;
    text-align: center;
    align-items: center;
    left: 90vh;
}
h3{
    text-align: center;
    
}
  
 
 
    
    